<!DOCTYPE html>
<html xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org"
      layout:decorate="~{client/shared/_layout}">
<body>
<script src="@{/client/js/controller/cartController.js}"></script>
<div id="cart_content">
     <div class="col-lg-12">
          <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/home/index}">Trang chủ</a></li>
                    <li aria-current="page" class="breadcrumb-item active">Giỏ hàng</li>
               </ol>
          </nav>
     </div>
     <div class="container-fluid">
          <div class="row">
               <div class="col-lg-9">
                    <div class="box" id="cart-content">
                         <!-- Cart -->
                         <div th:replace="client/cart/content_cart :: content_cart (cart=${cart})"></div>
                         <!-- Cart end-->
                    </div>
                    <!-- List hot book-->
                    <div class="box text-primary text-center font-weight-bold mb-0"> <h3 class="mb-0">Bán chạy nhất !!</h3></div>
                    <div th:replace="client/book/list_book :: list_book (listBook=${listHot},namePath='Sách đang hot!!!')"></div>
                    <hr />
                    <!-- End List hot book-->
               </div>
               <div class="col-md-3">
                    <div id="order-summary" class="card">
                         <div class="card-header">
                              <h3 class="mt-4 mb-4">Đơn hàng dự kiến</h3>
                         </div>
                         <div class="card-body">
                              <p class="text-muted">Giá trị đơn hàng chưa kể phí vận chuyển</p>
                              <div class="table-responsive">
                                   <table class="table">
                                        <tbody>
                                             <tr>
                                                  <td>Tổng giá trị sản phẩm đã chọn</td>
                                                  <th><span id="tPrice" th:text="${#numbers.formatDecimal(totalPrice, 0, 'COMMA', 2, 'POINT')}"></span> VNĐ</th>
                                             </tr>
                                             <tr>
                                                  <td>Tổng khuyến mãi</td>
                                                  <th><span id="tPromotion" th:text="${#numbers.formatDecimal(totalPromotion, 0, 'COMMA', 2, 'POINT')}"></span> VNĐ</th>
                                             </tr>
                                             <tr>
                                                  <td>Thành tiền</td>
                                                  <th><span id="realPrice" th:text="${#numbers.formatDecimal(realPrice, 0, 'COMMA', 2, 'POINT')}"></span> VNĐ</th>
                                             </tr>
                                        </tbody>
                                   </table>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <script>
          addcartitemincart.init();
          updateSelectedItems.init();
     </script>
</div>
</body>
</html>